.bgd{
    background-image: url(../images/1.jpg);
    height: 500px;
    color: aliceblue;
    text-align: center;
    background-position: center;


}
.h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    text-transform:uppercase ;
    border: 5px ridge red;
    text-align: center;
}
.h2{
    text-transform: capitalize;
}